<nav>
	<nav-bar>
		<nav-buttons>
			<a href="#team/connect">
				<component-back-button />
			</a>
		</nav-buttons>
		<nav-title>
			<component-page-title>建立球隊</component-page-title>
		</nav-title>
	</nav-bar>
</nav>
<component-main-content>
	<open-team>
		<label>基本資料</label>
		<component-spacing height="15px" />
		<image-holder size="128x128">
			<img src="https://placeholdit.imgix.net/~text?txtsize=33&amp;txt=upload%20here&amp;w=128&amp;h=128">
		</image-holder>
		<component-spacing height="5px" />
		<component-field-control type="text" placeholder="請輸入球隊名稱" change__to={ name } />
		<component-spacing height="5px" />
		<component-field-control type="number" placeholder="請輸入球隊平均年齡" change__to={ average_age } />
		<component-spacing height="5px" />
		<component-field-control type="text" placeholder="球隊簡介(可選擇不填)" />
		<component-spacing height="35px" />
		<component-action>
			<a href="#team/open/preferences-step" disabled={ ! can_next () } ref="next-button">下一步</a>
		</component-action>
	</open-team>
</component-main-content>

<style>
	@extend [page-layout];
	
	open-team {
		@extend [padded-layout];
	
		> label {
		    color: black;
		    font-weight: bold;
		    text-align: center;
		    display: block;	
		}
		> image-holder {
		    margin-left: auto;
		    margin-right: auto;
		}
		> component-field-control {
    		display: block;
		}
		> component-action {
			padding: 0 25px;
		}
	}
</style>

<script>
	var name = stream ();
	var average_age = stream ();
		
	var can_next = mechanism (function () {
		if (! name ())
			return false;
		if (! average_age ())
			return false;
			
		return true;
	}, [
		mergeAll ([
			name, average_age
		])
	]);
	
	can_next
		.thru (dropRepeats)
		.thru (map, noop) .thru (tap, self .render)
		
	ref ('next-button') .thru (tap, known_as ('next')) .thru (tap, function (ref) {
		ref .addEventListener ('click', function (e) {
			e .preventDefault ();
			window .location .hash = ref .hash  + '/#' + [name (), average_age ()] .map (stringify) .join ('/')
		})
	})
</script>