<nav>
	<nav-bar>
		<nav-buttons>
			<a href="#match/catalog">
				<component-cancel-button />
			</a>
		</nav-buttons>
		<nav-title>
			<component-page-title>建立球賽</component-page-title>
		</nav-title>
	</nav-bar>
</nav>
<component-main-content>
	<open-match>
		<info-area info="match">
			<info-holder>
				<info-header>
					賽事資料
				</info-header>
				<component-spacing height="10px" />
				<match-date>
					<label>
						<svg width="16" height="15" viewBox="0 0 16 15" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:figma="http://www.figma.com/figma/ns"><title>Group</title><desc>Created using Figma</desc><g id="Canvas" transform="translate(1157 296)" figma:type="canvas"><g id="Group" style="mix-blend-mode:normal;" figma:type="frame"><g id="Vector" style="mix-blend-mode:normal;" figma:type="vector"><use xlink:href="#84ad6479-2db8-4c8a-a2bf-a12046b20303" transform="translate(-1156.52 -296)" fill="#1A5276" style="mix-blend-mode:normal;"/></g><g id="Vector" style="mix-blend-mode:normal;" figma:type="vector"><use xlink:href="#96694655-9fe0-4957-9fa4-3de07b67134f" transform="translate(-1154.11 -290.25)" fill="#1A5276" style="mix-blend-mode:normal;"/></g></g></g><defs><path id="84ad6479-2db8-4c8a-a2bf-a12046b20303" d="M 14.7321 1L 12.8571 1L 12.8571 0.25C 12.8571 0.11175 12.7374 0 12.5893 0L 10.7143 0C 10.5662 0 10.4464 0.11175 10.4464 0.25L 10.4464 1L 4.55357 1L 4.55357 0.25C 4.55357 0.11175 4.43384 0 4.28571 0L 2.41071 0C 2.26259 0 2.14286 0.11175 2.14286 0.25L 2.14286 1L 0.267857 1C 0.119732 1 0 1.11175 0 1.25L 0 4L 0 14.75C 0 14.8883 0.119732 15 0.267857 15L 14.7321 15C 14.8803 15 15 14.8883 15 14.75L 15 4L 15 1.25C 15 1.11175 14.8803 1 14.7321 1ZM 10.9821 0.5L 12.3214 0.5L 12.3214 1.25L 12.3214 2L 10.9821 2L 10.9821 1.25L 10.9821 0.5ZM 2.67857 0.5L 4.01786 0.5L 4.01786 1.25L 4.01786 2L 2.67857 2L 2.67857 1.25L 2.67857 0.5ZM 0.535714 1.5L 2.14286 1.5L 2.14286 2.25C 2.14286 2.38825 2.26259 2.5 2.41071 2.5L 4.28571 2.5C 4.43384 2.5 4.55357 2.38825 4.55357 2.25L 4.55357 1.5L 10.4464 1.5L 10.4464 2.25C 10.4464 2.38825 10.5662 2.5 10.7143 2.5L 12.5893 2.5C 12.7374 2.5 12.8571 2.38825 12.8571 2.25L 12.8571 1.5L 14.4643 1.5L 14.4643 3.75L 0.535714 3.75L 0.535714 1.5ZM 0.535714 14.5L 0.535714 4.25L 14.4643 4.25L 14.4643 14.5L 0.535714 14.5Z"/><path id="96694655-9fe0-4957-9fa4-3de07b67134f" d="M 7.23214 0L 5.35714 0L 4.82143 0L 2.94643 0L 2.41071 0L 0 0L 0 2.25L 0 2.75L 0 4.5L 0 5L 0 7.25L 2.41071 7.25L 2.94643 7.25L 4.82143 7.25L 5.35714 7.25L 7.23214 7.25L 7.76786 7.25L 10.1786 7.25L 10.1786 5L 10.1786 4.5L 10.1786 2.75L 10.1786 2.25L 10.1786 0L 7.76786 0L 7.23214 0ZM 5.35714 0.5L 7.23214 0.5L 7.23214 2.25L 5.35714 2.25L 5.35714 0.5ZM 7.23214 4.5L 5.35714 4.5L 5.35714 2.75L 7.23214 2.75L 7.23214 4.5ZM 2.94643 2.75L 4.82143 2.75L 4.82143 4.5L 2.94643 4.5L 2.94643 2.75ZM 2.94643 0.5L 4.82143 0.5L 4.82143 2.25L 2.94643 2.25L 2.94643 0.5ZM 0.535714 0.5L 2.41071 0.5L 2.41071 2.25L 0.535714 2.25L 0.535714 0.5ZM 0.535714 2.75L 2.41071 2.75L 2.41071 4.5L 0.535714 4.5L 0.535714 2.75ZM 2.41071 6.75L 0.535714 6.75L 0.535714 5L 2.41071 5L 2.41071 6.75ZM 4.82143 6.75L 2.94643 6.75L 2.94643 5L 4.82143 5L 4.82143 6.75ZM 7.23214 6.75L 5.35714 6.75L 5.35714 5L 7.23214 5L 7.23214 6.75ZM 9.64286 6.75L 7.76786 6.75L 7.76786 5L 9.64286 5L 9.64286 6.75ZM 9.64286 4.5L 7.76786 4.5L 7.76786 2.75L 9.64286 2.75L 9.64286 4.5ZM 9.64286 0.5L 9.64286 2.25L 7.76786 2.25L 7.76786 0.5L 9.64286 0.5Z"/></defs></svg>
						日期
					</label>
					<item>
						<control-holder>
							<component-table-control message__from=":date">
								<component-modal-holder>
									<component-date-picker date__to=":date" />
								</component-modal-holder>
							</component-table-control>
						</control-holder>
					</item>
				</match-date>
				<component-spacing height="10px" />
				<component-separator />
				<component-spacing height="10px" />
				<match-time>
					<label>
						<svg width="15" height="15" viewBox="0 0 15 15" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:figma="http://www.figma.com/figma/ns"><title>Group</title><desc>Created using Figma</desc><g id="Canvas" transform="translate(1157 267)" figma:type="canvas"><g id="Group" style="mix-blend-mode:normal;" figma:type="frame"><g id="Vector" style="mix-blend-mode:normal;" figma:type="vector"><use xlink:href="#e182a5c5-d7f4-48a7-a83e-7f5e09a4b64c" transform="translate(-1157 -267)" fill="#8E44AD" style="mix-blend-mode:normal;"/></g><g id="Vector" style="mix-blend-mode:normal;" figma:type="vector"><use xlink:href="#2f493b0a-c7a8-4323-ae6f-91c03ef1cc52" transform="translate(-1153.88 -265.56)" fill="#8E44AD" style="mix-blend-mode:normal;"/></g></g></g><defs><path id="e182a5c5-d7f4-48a7-a83e-7f5e09a4b64c" d="M 7.2 0C 3.22992 0 0 3.22992 0 7.2C 0 11.1701 3.22992 14.4 7.2 14.4C 11.1701 14.4 14.4 11.1701 14.4 7.2C 14.4 3.22992 11.1701 0 7.2 0ZM 7.2 13.92C 3.49464 13.92 0.48 10.9054 0.48 7.2C 0.48 3.49464 3.49464 0.48 7.2 0.48C 10.9054 0.48 13.92 3.49464 13.92 7.2C 13.92 10.9054 10.9054 13.92 7.2 13.92Z"/><path id="2f493b0a-c7a8-4323-ae6f-91c03ef1cc52" d="M 4.08 0C 3.94752 0 3.84 0.10728 3.84 0.24L 3.84 5.76L 0.24 5.76C 0.10752 5.76 0 5.86728 0 6C 0 6.13272 0.10752 6.24 0.24 6.24L 4.08 6.24C 4.21248 6.24 4.32 6.13272 4.32 6L 4.32 0.24C 4.32 0.10728 4.21248 0 4.08 0Z"/></defs></svg>
						時間
					</label>
					<item>
						<control-holder>
							<component-table-control message__from=":timeslot">
								<component-modal-holder>
									<component-timeslot-picker timeslot__to=":temp-timeslot" />
									<component-spacing height="25px" />
									<component-action>
										<a ref="timeslot-button">
											<icon class="fa-check" />
										</a>
									</component-action>
								</component-modal-holder>
							</component-table-control>
						</control-holder>
					</item>
				</match-time>
				<component-spacing height="10px" />
				<component-separator />
				<component-spacing height="10px" />
				<match-location>
					<label>
						<svg width="14" height="19" viewBox="0 0 14 19" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:figma="http://www.figma.com/figma/ns"><title>placeholder</title><desc>Created using Figma</desc><g id="Canvas" transform="translate(1156 240)" figma:type="canvas"><g id="placeholder" style="mix-blend-mode:normal;" figma:type="frame"><g id="Vector" style="mix-blend-mode:normal;" figma:type="vector"><use xlink:href="#63932ca2-69f6-4206-8065-36e54db2dad2" transform="translate(-1155.88 -240)" fill="#EE3840" style="mix-blend-mode:normal;"/></g></g></g><defs><path id="63932ca2-69f6-4206-8065-36e54db2dad2" d="M 11.238 1.94151C 8.66733 -0.647169 4.49916 -0.647169 1.92814 1.94151C -0.388274 4.27416 -0.649034 8.6663 1.31681 11.3057L 6.58307 18.9645L 11.8493 11.3057C 13.8152 8.6663 13.5544 4.27416 11.238 1.94151ZM 6.64717 8.75274C 5.44695 8.75274 4.47417 7.77314 4.47417 6.56451C 4.47417 5.35588 5.44695 4.37628 6.64717 4.37628C 7.84739 4.37628 8.82017 5.35588 8.82017 6.56451C 8.82017 7.77314 7.84739 8.75274 6.64717 8.75274Z"/></defs></svg>
						地點
					</label>
					<item>
						<control-holder>
							<component-table-control message__from=":location">
								<component-pitch-picker location__to=":location" />
							</component-table-control>
						</control-holder>
					</item>
				</match-location>
				<component-spacing height="10px" />
				<component-separator />
				<component-spacing height="10px" />
				<match-type-number-of-players>
					<label>
						<svg width="14" height="19" viewBox="0 0 14 19" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:figma="http://www.figma.com/figma/ns"><title>people</title><desc>Created using Figma</desc><g id="Canvas" transform="translate(1157 32)" figma:type="canvas"><g id="people" style="mix-blend-mode:normal;" figma:type="frame"><g id="Group" style="mix-blend-mode:normal;" figma:type="frame"><g id="Group" style="mix-blend-mode:normal;" figma:type="frame"><g id="XMLID 2038" style="mix-blend-mode:normal;" figma:type="vector"><use xlink:href="#56178ad8-59fa-4481-ab2a-cb6ddea229be" transform="translate(-1151.18 -28.1659)" fill="#A7A9AC" style="mix-blend-mode:normal;"/></g><g id="XMLID 2039" style="mix-blend-mode:normal;" figma:type="vector"><use xlink:href="#48c1c4c1-e6a8-47cf-aca6-942ef11301e0" transform="translate(-1152.48 -23.7096)" fill="#A7A9AC" style="mix-blend-mode:normal;"/></g><g id="Vector" style="mix-blend-mode:normal;" figma:type="vector"><use xlink:href="#4d4b89ab-a4b0-4a8c-8a38-24289e2946ce" transform="translate(-1157 -23.2427)" style="mix-blend-mode:normal;"/></g><g id="Vector" style="mix-blend-mode:normal;" figma:type="vector"><use xlink:href="#54e17de2-2417-4e01-9cf7-39f13e91a977" transform="translate(-1155.78 -27.4191)" style="mix-blend-mode:normal;"/></g><g id="Vector" style="mix-blend-mode:normal;" figma:type="vector"><use xlink:href="#64733042-8ec3-4fac-b1ca-769ce78bcd18" transform="translate(-1147.51 -23.2456)" style="mix-blend-mode:normal;"/></g><g id="Vector" style="mix-blend-mode:normal;" figma:type="vector"><use xlink:href="#c29ea2c3-7373-466e-b0d2-87e5940fb610" transform="translate(-1147.05 -27.4191)" style="mix-blend-mode:normal;"/></g><g id="Vector" style="mix-blend-mode:normal;" figma:type="vector"><use xlink:href="#ca8b21ef-a843-4748-abd8-d25ccc471637" transform="translate(-1152.79 -24.0434)" style="mix-blend-mode:normal;"/></g><g id="Vector" style="mix-blend-mode:normal;" figma:type="vector"><use xlink:href="#00ad5f2a-5da3-4c05-a667-db4226456e87" transform="translate(-1151.49 -28.5)" style="mix-blend-mode:normal;"/></g></g></g><mask id="mask0_alpha" mask-type="alpha"><path d="M -1157 -27L -1154.35 -27L -1154.35 -24.1405L -1157 -24.1405L -1157 -27Z" fill="#FFFFFF"/></mask><g id="Group" style="mix-blend-mode:normal;" mask="url(#mask0_alpha)" figma:type="frame"></g><mask id="mask1_alpha" mask-type="alpha"><path d="M -1157 -27L -1154.35 -27L -1154.35 -24.1405L -1157 -24.1405L -1157 -27Z" fill="#FFFFFF"/></mask><g id="Group" style="mix-blend-mode:normal;" mask="url(#mask1_alpha)" figma:type="frame"></g><mask id="mask2_alpha" mask-type="alpha"><path d="M -1157 -27L -1154.35 -27L -1154.35 -24.1405L -1157 -24.1405L -1157 -27Z" fill="#FFFFFF"/></mask><g id="Group" style="mix-blend-mode:normal;" mask="url(#mask2_alpha)" figma:type="frame"></g><mask id="mask3_alpha" mask-type="alpha"><path d="M -1157 -27L -1154.35 -27L -1154.35 -24.1405L -1157 -24.1405L -1157 -27Z" fill="#FFFFFF"/></mask><g id="Group" style="mix-blend-mode:normal;" mask="url(#mask3_alpha)" figma:type="frame"></g><mask id="mask4_alpha" mask-type="alpha"><path d="M -1157 -27L -1154.35 -27L -1154.35 -24.1405L -1157 -24.1405L -1157 -27Z" fill="#FFFFFF"/></mask><g id="Group" style="mix-blend-mode:normal;" mask="url(#mask4_alpha)" figma:type="frame"></g><mask id="mask5_alpha" mask-type="alpha"><path d="M -1157 -27L -1154.35 -27L -1154.35 -24.1405L -1157 -24.1405L -1157 -27Z" fill="#FFFFFF"/></mask><g id="Group" style="mix-blend-mode:normal;" mask="url(#mask5_alpha)" figma:type="frame"></g><mask id="mask6_alpha" mask-type="alpha"><path d="M -1157 -27L -1154.35 -27L -1154.35 -24.1405L -1157 -24.1405L -1157 -27Z" fill="#FFFFFF"/></mask><g id="Group" style="mix-blend-mode:normal;" mask="url(#mask6_alpha)" figma:type="frame"></g><mask id="mask7_alpha" mask-type="alpha"><path d="M -1157 -27L -1154.35 -27L -1154.35 -24.1405L -1157 -24.1405L -1157 -27Z" fill="#FFFFFF"/></mask><g id="Group" style="mix-blend-mode:normal;" mask="url(#mask7_alpha)" figma:type="frame"></g><mask id="mask8_alpha" mask-type="alpha"><path d="M -1157 -27L -1154.35 -27L -1154.35 -24.1405L -1157 -24.1405L -1157 -27Z" fill="#FFFFFF"/></mask><g id="Group" style="mix-blend-mode:normal;" mask="url(#mask8_alpha)" figma:type="frame"></g><mask id="mask9_alpha" mask-type="alpha"><path d="M -1157 -27L -1154.35 -27L -1154.35 -24.1405L -1157 -24.1405L -1157 -27Z" fill="#FFFFFF"/></mask><g id="Group" style="mix-blend-mode:normal;" mask="url(#mask9_alpha)" figma:type="frame"></g><mask id="mask10_alpha" mask-type="alpha"><path d="M -1157 -27L -1154.35 -27L -1154.35 -24.1405L -1157 -24.1405L -1157 -27Z" fill="#FFFFFF"/></mask><g id="Group" style="mix-blend-mode:normal;" mask="url(#mask10_alpha)" figma:type="frame"></g><mask id="mask11_alpha" mask-type="alpha"><path d="M -1157 -27L -1154.35 -27L -1154.35 -24.1405L -1157 -24.1405L -1157 -27Z" fill="#FFFFFF"/></mask><g id="Group" style="mix-blend-mode:normal;" mask="url(#mask11_alpha)" figma:type="frame"></g><mask id="mask12_alpha" mask-type="alpha"><path d="M -1157 -27L -1154.35 -27L -1154.35 -24.1405L -1157 -24.1405L -1157 -27Z" fill="#FFFFFF"/></mask><g id="Group" style="mix-blend-mode:normal;" mask="url(#mask12_alpha)" figma:type="frame"></g><mask id="mask13_alpha" mask-type="alpha"><path d="M -1157 -27L -1154.35 -27L -1154.35 -24.1405L -1157 -24.1405L -1157 -27Z" fill="#FFFFFF"/></mask><g id="Group" style="mix-blend-mode:normal;" mask="url(#mask13_alpha)" figma:type="frame"></g><mask id="mask14_alpha" mask-type="alpha"><path d="M -1157 -27L -1154.35 -27L -1154.35 -24.1405L -1157 -24.1405L -1157 -27Z" fill="#FFFFFF"/></mask><g id="Group" style="mix-blend-mode:normal;" mask="url(#mask14_alpha)" figma:type="frame"></g></g></g><defs><path id="56178ad8-59fa-4481-ab2a-cb6ddea229be" d="M 1.18104 3.31295C 1.18441 3.31295 1.18777 3.31295 1.18777 3.31295C 2.54714 3.29825 2.34862 1.31295 2.34862 1.31295C 2.29478 -0.0142538 1.28199 -0.00322437 1.18104 0.000452105C 1.0801 -0.00322437 0.0673067 -0.0142538 0.0101057 1.30928C 0.0101057 1.30928 -0.188415 3.29457 1.17432 3.30928C 1.17432 3.31295 1.17768 3.31295 1.18104 3.31295Z"/><path id="48c1c4c1-e6a8-47cf-aca6-942ef11301e0" d="M 2.47974 1.32353L 3.35795 1.12197e-07C 3.35795 1.12197e-07 3.97706 0.272059 4.48178 0.680147C 4.613 0.786765 4.67357 0.849265 4.79134 0.977941C 5.07061 1.28309 4.95284 3.05147 4.79134 3.69853C 4.62983 4.34559 4.15539 5.27574 4.15539 5.27574C 4.06118 5.51103 4.00062 5.76471 3.97706 6.01838L 3.3714 12.5074C 3.35122 12.7132 3.19307 12.8713 3.00464 12.8713L 2.47974 12.8713L 1.95484 12.8713C 1.76641 12.8713 1.6049 12.7132 1.58808 12.5074L 0.98242 6.01838C 0.958866 5.76103 0.898301 5.51103 0.804087 5.27574C 0.804087 5.27574 0.329655 4.34926 0.168146 3.69853C 0.00663766 3.05147 -0.111129 1.28309 0.168146 0.977941C 0.285913 0.849265 0.346479 0.786765 0.477705 0.680147C 0.98242 0.275735 1.60154 1.12197e-07 1.60154 1.12197e-07L 2.47974 1.32353Z"/><path id="4d4b89ab-a4b0-4a8c-8a38-24289e2946ce" d="M 0.16683 3.88974C 0.318245 4.49268 0.722016 5.30518 0.782582 5.43018C 0.856607 5.61768 0.903714 5.81254 0.920538 6.01474L 1.48918 12.103C 1.52283 12.4669 1.80211 12.7427 2.13858 12.7427L 3.12109 12.7427C 3.45757 12.7427 3.73685 12.4669 3.77049 12.103L 4.33914 6.01474C 4.35933 5.80886 4.40644 5.60665 4.48383 5.41915C 4.55112 5.25004 4.48046 5.05518 4.32905 4.98165C 4.17427 4.90812 3.99593 4.98533 3.92864 5.15077C 3.8277 5.40445 3.7604 5.67283 3.73685 5.94856L 3.1682 12.0368C 3.16484 12.0589 3.14801 12.0772 3.12782 12.0772L 2.14531 12.0772C 2.12512 12.0772 2.10494 12.0589 2.10494 12.0368L 1.52956 5.94489C 1.50264 5.66915 1.43871 5.40077 1.33777 5.14709C 1.3344 5.13606 1.33104 5.12871 1.32431 5.11768C 1.32094 5.11033 0.896984 4.27577 0.755664 3.71327C 0.600885 3.08459 0.557143 1.71695 0.685004 1.4743C 0.785947 1.36401 0.829689 1.31989 0.933997 1.23533C 1.19981 1.02209 1.50601 0.8493 1.70453 0.746359L 2.38421 1.76842C 2.44141 1.85298 2.53226 1.90445 2.62984 1.90445C 2.72742 1.90445 2.81827 1.85298 2.87547 1.76842L 3.69983 0.529447C 3.79741 0.382388 3.76713 0.17283 3.63254 0.0625354C 3.49795 -0.0440822 3.30616 -0.010994 3.20521 0.136065L 2.62647 1.00371L 2.05446 0.139742C 1.97371 0.0147415 1.8223 -0.0293763 1.69443 0.0257707C 1.67088 0.0368001 1.07195 0.301506 0.573967 0.702242C 0.432647 0.816212 0.365351 0.886065 0.247584 1.01474C -0.183106 1.48533 0.0557928 3.44121 0.16683 3.88974Z"/><path id="54e17de2-2417-4e01-9cf7-39f13e91a977" d="M 1.38579 3.76838C 1.39252 3.76838 1.39925 3.76838 1.40598 3.76838C 1.40935 3.76838 1.41607 3.76838 1.41944 3.76838C 1.42617 3.76838 1.4329 3.76838 1.44299 3.76838C 1.83331 3.75735 2.16305 3.60294 2.39859 3.3125C 2.89994 2.69485 2.82928 1.66544 2.81582 1.53676C 2.76535 0.400735 2.04192 -1.40246e-08 1.43963 -1.40246e-08C 1.42953 -1.40246e-08 1.41944 -1.40246e-08 1.41271 -1.40246e-08C 1.40598 -1.40246e-08 1.39589 -1.40246e-08 1.38579 -1.40246e-08C 0.783499 -1.40246e-08 0.0634386 0.404412 0.00960238 1.53676C -0.000491915 1.66544 -0.0745167 2.69485 0.426833 3.3125C 0.665732 3.60294 0.995479 3.76103 1.38579 3.76838ZM 0.618625 1.59559C 0.618625 1.58824 0.618625 1.58088 0.618625 1.57353C 0.652273 0.779412 1.11325 0.661765 1.38579 0.661765L 1.39925 0.661765C 1.40598 0.661765 1.41607 0.661765 1.4228 0.661765L 1.43626 0.661765C 1.70881 0.661765 2.16978 0.779412 2.20343 1.57353C 2.20343 1.58088 2.20343 1.58824 2.20343 1.59191C 2.22698 1.82721 2.22025 2.51471 1.93425 2.86765C 1.80975 3.02206 1.63815 3.09926 1.41271 3.09926C 1.40935 3.09926 1.40935 3.09926 1.40598 3.09926C 1.18054 3.09559 1.00894 3.02206 0.884442 2.86765C 0.601801 2.51838 0.598436 1.83088 0.618625 1.59559Z"/><path id="64733042-8ec3-4fac-b1ca-769ce78bcd18" d="M 0.182246 4.98088C 0.0274668 5.05441 -0.0431935 5.25294 0.0274666 5.41838C 0.104856 5.60956 0.151964 5.80808 0.172152 6.01397L 0.740798 12.1022C 0.774445 12.4662 1.05372 12.7419 1.3902 12.7419L 2.37271 12.7419C 2.70919 12.7419 2.98846 12.4662 3.02211 12.1022L 3.59076 6.01397C 3.61094 5.81176 3.65469 5.61691 3.72871 5.42941C 3.78928 5.30809 4.19641 4.49558 4.34446 3.88897C 4.4555 3.44044 4.69776 1.48456 4.26707 1.01397C 4.14931 0.885291 4.08201 0.815438 3.94069 0.701467C 3.44271 0.300732 2.84714 0.036026 2.82022 0.0249966C 2.689 -0.0338269 2.54095 0.0139669 2.46019 0.138967L 1.88145 1.00661L 1.29935 0.142644C 1.20177 -0.00809172 1.00998 -0.0375035 0.872023 0.0691142C 0.737433 0.175732 0.70715 0.385291 0.804728 0.536026L 1.6291 1.775C 1.6863 1.85956 1.77715 1.91103 1.87472 1.91103C 1.9723 1.91103 2.06315 1.85956 2.12035 1.775L 2.80004 0.752937C 2.99856 0.855879 3.30475 1.02867 3.57057 1.24191C 3.67151 1.32279 3.71525 1.37058 3.81956 1.48088C 3.94742 1.72353 3.90368 3.09117 3.7489 3.71985C 3.60758 4.28235 3.18362 5.11691 3.18025 5.12426C 3.17689 5.13161 3.17016 5.14264 3.16679 5.15367C 3.06585 5.40735 2.99856 5.67573 2.975 5.95147L 2.40636 12.0397C 2.40299 12.0618 2.38617 12.0801 2.36598 12.0801L 1.38347 12.0801C 1.36328 12.0801 1.34309 12.0618 1.34309 12.0397L 0.774445 5.95147C 0.747527 5.67573 0.683596 5.40735 0.582653 5.15367C 0.515358 4.98088 0.337025 4.90735 0.182246 4.98088Z"/><path id="c29ea2c3-7373-466e-b0d2-87e5940fb610" d="M 1.38243 3.76838C 1.38916 3.76838 1.39589 3.76838 1.40598 3.76838C 1.40935 3.76838 1.41607 3.76838 1.41944 3.76838C 1.42617 3.76838 1.4329 3.76838 1.43963 3.76838C 1.82994 3.76103 2.15969 3.60294 2.39859 3.3125C 2.89994 2.69485 2.82928 1.66544 2.81582 1.53676C 2.76535 0.400735 2.04529 -1.40246e-08 1.43963 -1.40246e-08C 1.42953 -1.40246e-08 1.41944 -1.40246e-08 1.41271 -1.40246e-08C 1.40598 -1.40246e-08 1.39589 -1.40246e-08 1.38579 -1.40246e-08C 0.783499 -1.40246e-08 0.0634389 0.404412 0.00960259 1.53676C -0.000491709 1.66544 -0.0745168 2.69485 0.426833 3.3125C 0.662367 3.60294 0.992114 3.75735 1.38243 3.76838ZM 0.615261 1.59559C 0.615261 1.58824 0.615261 1.58088 0.615261 1.57353C 0.648908 0.779412 1.10988 0.661765 1.38243 0.661765L 1.39589 0.661765C 1.40262 0.661765 1.41271 0.661765 1.41944 0.661765L 1.4329 0.661765C 1.70544 0.661765 2.16642 0.779412 2.20007 1.57353C 2.20007 1.58088 2.20007 1.58824 2.20007 1.59191C 2.22362 1.82721 2.21689 2.51471 1.93088 2.86765C 1.80639 3.02206 1.63478 3.09559 1.40935 3.09926C 1.40598 3.09926 1.40598 3.09926 1.40262 3.09926C 1.17718 3.09559 1.00557 3.02206 0.881077 2.86765C 0.598437 2.51838 0.595072 1.83088 0.615261 1.59559Z"/><path id="ca8b21ef-a843-4748-abd8-d25ccc471637" d="M 0.259304 1.07647C -0.194939 1.57279 0.0607833 3.64264 0.181915 4.12059C 0.343424 4.76397 0.774114 5.63161 0.838044 5.75661C 0.918799 5.95882 0.96927 6.16838 0.989459 6.38529L 1.59512 12.8743C 1.62876 13.2529 1.91813 13.536 2.26807 13.536L 3.31451 13.536C 3.66108 13.536 3.95045 13.2493 3.98747 12.8743L 4.59312 6.38529C 4.61331 6.16838 4.66378 5.95514 4.74454 5.75661C 4.80847 5.62794 5.23916 4.76397 5.40067 4.12059C 5.51844 3.64264 5.77752 1.57279 5.32328 1.07647C 5.19878 0.940438 5.12812 0.866908 4.98007 0.745585C 4.4518 0.319114 3.81586 0.0397023 3.78894 0.0249965C 3.65772 -0.0338271 3.50967 0.013967 3.42891 0.138967L 2.78624 1.09117L 2.15367 0.138967C 2.07291 0.013967 1.9215 -0.0301506 1.79364 0.0249965C 1.76672 0.0360259 1.13414 0.319114 0.602511 0.745585C 0.454461 0.866908 0.380436 0.940438 0.259304 1.07647ZM 0.696724 1.5397C 0.807761 1.41838 0.854868 1.37059 0.965905 1.28235C 1.25528 1.04706 1.59175 0.859556 1.8071 0.749261L 2.54062 1.8522C 2.59782 1.93676 2.68867 1.98823 2.78624 1.98823C 2.88382 1.98823 2.97467 1.93676 3.03187 1.8522L 3.76539 0.749261C 3.97737 0.859556 4.31385 1.04706 4.60658 1.28235C 4.71762 1.37059 4.76473 1.41838 4.87576 1.5397C 5.01708 1.7897 4.97334 3.26397 4.80174 3.94411C 4.65032 4.54706 4.19945 5.43676 4.19272 5.44411C 4.18935 5.45147 4.18262 5.4625 4.17926 5.47353C 4.07158 5.74191 4.00092 6.025 3.97401 6.31912L 3.36835 12.8081C 3.36498 12.8449 3.33807 12.8706 3.30442 12.8706L 2.25798 12.8706C 2.22433 12.8706 2.19741 12.8449 2.19405 12.8081L 1.58839 6.31912C 1.56147 6.02867 1.49417 5.74191 1.38314 5.47353C 1.37977 5.4625 1.37641 5.45514 1.36968 5.44411C 1.36631 5.43676 0.912069 4.54338 0.760655 3.94044C 0.599146 3.26397 0.555404 1.7897 0.696724 1.5397Z"/><path id="00ad5f2a-5da3-4c05-a667-db4226456e87" d="M 1.45705 3.97794C 1.46378 3.97794 1.47387 3.97794 1.4806 3.97794C 1.48397 3.97794 1.49406 3.97794 1.49743 3.97794C 1.50416 3.97794 1.51089 3.97794 1.51762 3.97794C 1.93485 3.97059 2.27132 3.80882 2.52368 3.49632C 3.05531 2.84559 2.97456 1.75 2.96447 1.61765C 2.91063 0.422794 2.15356 0 1.51762 0C 1.50752 0 1.49743 0 1.48733 0C 1.4806 0 1.47051 0 1.45705 0C 0.824475 0 0.0640378 0.422794 0.0102015 1.61765C 0.000107191 1.75 -0.0806475 2.84191 0.450986 3.49265C 0.703343 3.80515 1.04318 3.96691 1.45705 3.97794ZM 0.619224 1.68015C 0.619224 1.67279 0.619224 1.66544 0.619224 1.65809C 0.656236 0.761029 1.21815 0.665441 1.45705 0.665441L 1.47387 0.665441C 1.4806 0.665441 1.4907 0.665441 1.49743 0.665441L 1.51425 0.665441C 1.75315 0.665441 2.31507 0.761029 2.35208 1.65809C 2.35208 1.66544 2.35208 1.67279 2.35208 1.67647C 2.37563 1.93015 2.37227 2.67279 2.06271 3.05147C 1.92475 3.22059 1.73633 3.30515 1.4907 3.30515C 1.48733 3.30515 1.48397 3.30515 1.4806 3.30515C 1.23498 3.30147 1.04655 3.22059 0.908594 3.05147C 0.599036 2.67647 0.595671 1.93382 0.619224 1.68015Z"/></defs></svg>
						人數
					</label>
					<item>
						<control-holder>
							<component-select-control select__to=":number-of-players">
								<a>5v5</a>
								<a>7v7</a>
								<a>9v9</a>
								<a>11v11</a>
							</component-select-control>
						</control-holder>
					</item>
				</match-type-number-of-players>
				<component-spacing height="10px" />
				<component-separator />
				<component-spacing height="10px" />
				<match-type-pitch>
					<label>
						<svg width="14" height="18" viewBox="0 0 14 18" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:figma="http://www.figma.com/figma/ns"><title>soccer-field</title><desc>Created using Figma</desc><g id="Canvas" transform="translate(1157 208)" figma:type="canvas"><g id="soccer-field" style="mix-blend-mode:normal;" figma:type="frame"><g id="Soccer-field 1" style="mix-blend-mode:normal;" figma:type="frame"><g id="Soccer-field" style="mix-blend-mode:normal;" figma:type="vector"><use xlink:href="#62b9d1df-7938-4819-a4b7-65740c8bf388" transform="translate(-1156.76 -208)" fill="#1D8348" style="mix-blend-mode:normal;"/></g></g></g></g><defs><path id="62b9d1df-7938-4819-a4b7-65740c8bf388" d="M 13.16 0L 0.28 0C 0.12544 0 0 0.12096 0 0.27L 0 17.01C 0 17.159 0.12544 17.28 0.28 17.28L 13.16 17.28C 13.3148 17.28 13.44 17.159 13.44 17.01L 13.44 0.27C 13.44 0.12096 13.3148 0 13.16 0ZM 7.42 2.67759C 7.42 3.02481 7.10612 3.3075 6.72 3.3075C 6.33388 3.3075 6.02 3.02508 6.02 2.67759C 6.02 2.61657 6.0298 2.55582 6.04912 2.4975L 7.3906 2.4975C 7.4102 2.55582 7.42 2.61657 7.42 2.67759ZM 4.88292 1.8981L 4.88292 0.5481L 8.55708 0.5481L 8.55708 1.8981L 4.88292 1.8981ZM 4.32292 0.54L 4.32292 2.1681C 4.32292 2.31714 4.44808 2.4381 4.60292 2.4381L 5.4894 2.4381C 5.47176 2.51694 5.46 2.59686 5.46 2.67759C 5.46 3.32262 6.02504 3.8475 6.72 3.8475C 7.41468 3.8475 7.98 3.32289 7.98 2.67759C 7.98 2.59659 7.96824 2.51667 7.9506 2.4381L 8.83736 2.4381C 8.9922 2.4381 9.11736 2.31714 9.11736 2.1681L 9.11736 0.54L 12.88 0.54L 12.88 8.16588L 9.50572 8.16588C 9.36488 6.80346 8.16928 5.73588 6.72 5.73588C 5.27072 5.73588 4.07512 6.80346 3.93428 8.16588L 0.56 8.16588L 0.56 0.54L 4.32292 0.54ZM 4.49932 8.16588C 4.63792 7.10208 5.57984 6.27588 6.72 6.27588C 7.86016 6.27588 8.80208 7.10208 8.94068 8.16588L 4.49932 8.16588ZM 8.94068 8.70588C 8.80208 9.76968 7.86016 10.5959 6.72 10.5959C 5.57984 10.5959 4.63792 9.76968 4.49932 8.70588L 8.94068 8.70588ZM 6.02 14.5349C 6.02 14.1877 6.33388 13.905 6.72 13.905C 7.10612 13.905 7.42 14.1874 7.42 14.5349C 7.42 14.5959 7.4102 14.6567 7.39088 14.715L 6.0494 14.715C 6.0298 14.6567 6.02 14.5959 6.02 14.5349ZM 8.55736 15.3144L 8.55736 16.6644L 4.88292 16.6644L 4.88292 15.3144L 8.55736 15.3144ZM 9.11736 16.74L 9.11736 15.0444C 9.11736 14.8954 8.9922 14.7744 8.83736 14.7744L 7.9506 14.7744C 7.96824 14.6956 7.98 14.6159 7.98 14.5349C 7.98 13.8899 7.41468 13.365 6.72 13.365C 6.02504 13.365 5.46 13.8896 5.46 14.5349C 5.46 14.6159 5.47176 14.6958 5.4894 14.7744L 4.60292 14.7744C 4.44808 14.7744 4.32292 14.8954 4.32292 15.0444L 4.32292 16.74L 0.56 16.74L 0.56 8.70588L 3.93428 8.70588C 4.07512 10.0683 5.27072 11.1359 6.72 11.1359C 8.16928 11.1359 9.36488 10.0683 9.50572 8.70588L 12.88 8.70588L 12.88 16.74L 9.11736 16.74Z"/></defs></svg>
						場地
					</label>
					<item>
						<control-holder>
							<component-select-control select__to=":pitch-type">
								<a>硬地</a>
								<a>人造草</a>
								<a>仿真草</a>
								<a>真草</a>
							</component-select-control>
						</control-holder>
					</item>
				</match-type-pitch>
				<component-spacing height="10px" />
				<component-separator />
				<component-spacing height="10px" />
				<team-jersey>
					<label>
						<svg width="19" height="16" viewBox="0 0 19 16" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:figma="http://www.figma.com/figma/ns"><title>soccer-jersey</title><desc>Created using Figma</desc><g id="Canvas" transform="translate(1160 61)" figma:type="canvas"><g id="soccer-jersey" style="mix-blend-mode:normal;" figma:type="frame"><g id="Group" style="mix-blend-mode:normal;" figma:type="frame"><g id="Group" style="mix-blend-mode:normal;" figma:type="frame"><g id="Vector" style="mix-blend-mode:normal;" figma:type="vector"><use xlink:href="#7502afb2-9d1b-4ce3-b036-3ee6ec531c22" transform="translate(-1159 -61)" fill="#0E6655" style="mix-blend-mode:normal;"/></g><g id="Vector" style="mix-blend-mode:normal;" figma:type="vector"><use xlink:href="#44438887-890f-424c-88e1-324366c0b033" transform="translate(-1152.1 -55.7636)" fill="#0E6655" style="mix-blend-mode:normal;"/></g></g></g></g></g><defs><path id="7502afb2-9d1b-4ce3-b036-3ee6ec531c22" d="M 17.9543 6.24586L 14.9543 1.59133C 14.9231 1.54304 14.8778 1.50435 14.8241 1.48078L 12.5336 0.471041C 12.5333 0.471041 12.5333 0.47075 12.533 0.47075L 11.5241 0.0262427C 11.4401 -0.0109935 11.3435 -0.0083753 11.2616 0.0326427C 11.1803 0.0739517 11.1221 0.149006 11.1053 0.236569C 10.7333 2.13911 9.37255 2.44194 8.97326 2.48994C 8.96966 2.49023 8.96636 2.48849 8.96276 2.48907C 8.90216 2.49663 8.86076 2.49925 8.86106 2.49954C 8.85806 2.49954 8.85056 2.49896 8.84306 2.49838C 8.83976 2.49809 8.83766 2.49809 8.83346 2.4978C 8.82476 2.49722 8.81126 2.49547 8.79896 2.49402C 8.79086 2.49314 8.78396 2.49256 8.77436 2.49111C 8.76116 2.48936 8.74406 2.48616 8.72816 2.48354C 8.71526 2.48151 8.70386 2.47976 8.68946 2.47685C 8.67266 2.47336 8.65256 2.46842 8.63396 2.46405C 8.61716 2.45998 8.60156 2.45678 8.58326 2.45183C 8.56316 2.4466 8.54066 2.43874 8.51936 2.43234C 8.49926 2.42623 8.48006 2.42071 8.45846 2.41314C 8.43656 2.40558 8.41256 2.39511 8.38916 2.38609C 8.36576 2.37678 8.34296 2.36863 8.31866 2.35787C 8.29496 2.3474 8.26976 2.33372 8.24516 2.32151C 8.21966 2.30871 8.19446 2.29736 8.16806 2.28282C 8.14286 2.26885 8.11676 2.2514 8.09096 2.23569C 8.06396 2.21911 8.03726 2.20398 8.00966 2.18507C 7.98386 2.16733 7.95747 2.1458 7.93107 2.12602C 7.90317 2.10478 7.87527 2.08558 7.84707 2.06202C 7.82097 2.0402 7.79487 2.01373 7.76877 1.98958C 7.74057 1.9634 7.71237 1.93925 7.68417 1.91045C 7.65807 1.88369 7.63257 1.85169 7.60677 1.8226C 7.57917 1.79118 7.55127 1.76209 7.52427 1.72747C 7.49877 1.69518 7.47447 1.65707 7.44957 1.62216C 7.42317 1.58493 7.39647 1.55031 7.37097 1.51016C 7.34667 1.47147 7.32387 1.42667 7.30047 1.38507C 7.27617 1.34202 7.25097 1.30187 7.22787 1.25533C 7.20357 1.20675 7.18197 1.15147 7.15917 1.09911C 7.13907 1.05257 7.11747 1.00951 7.09857 0.960057C 7.07457 0.897803 7.05387 0.827403 7.03197 0.759913C 7.01697 0.713076 7.00017 0.670604 6.98607 0.621441C 6.95187 0.501005 6.92127 0.373005 6.89457 0.23686C 6.87747 0.149297 6.81957 0.0739516 6.73827 0.0329336C 6.65667 -0.00837532 6.55978 -0.0107025 6.47578 0.0265337L 5.46688 0.471041C 5.46658 0.471041 5.46658 0.471332 5.46628 0.471332L 3.1758 1.48078C 3.1221 1.50435 3.0768 1.54304 3.0456 1.59133L 0.0456211 6.24586C -0.0368783 6.37385 -0.00477849 6.54229 0.120021 6.63276L 2.52 8.37821C 2.6463 8.47043 2.8254 8.45123 2.9274 8.33487L 4.19999 6.89545L 4.19999 15.7091C 4.19999 15.87 4.33409 16 4.49999 16L 13.4999 16C 13.6658 16 13.7999 15.87 13.7999 15.7091L 13.7999 7.01676L 14.756 8.3145C 14.8499 8.44192 15.032 8.4745 15.1664 8.38752L 17.8664 6.64207C 18.0014 6.5548 18.0404 6.37938 17.9543 6.24586ZM 11.6123 0.704058L 11.9405 0.84864L 12.1682 0.949003L 12.7757 2.61794L 10.4024 2.61794C 10.8677 2.28252 11.3462 1.70333 11.6123 0.704058ZM 5.83138 0.949294L 6.38758 0.704058C 6.42388 0.840203 6.46468 0.967039 6.50818 1.08806C 6.52288 1.12878 6.53908 1.16573 6.55468 1.20471C 6.58528 1.28209 6.61617 1.35802 6.64917 1.429C 6.66897 1.47118 6.68937 1.51075 6.71007 1.5506C 6.74157 1.61227 6.77397 1.67249 6.80727 1.72922C 6.82977 1.76762 6.85257 1.80485 6.87597 1.84122C 6.90987 1.89387 6.94437 1.9442 6.97977 1.99249C 7.00377 2.02565 7.02777 2.05882 7.05237 2.08994C 7.08957 2.13678 7.12737 2.18013 7.16517 2.2226C 7.18887 2.24907 7.21197 2.27671 7.23567 2.30172C 7.28097 2.34885 7.32687 2.39132 7.37277 2.43292C 7.39377 2.45183 7.41417 2.47191 7.43517 2.48965C 7.48947 2.53591 7.54407 2.57896 7.59867 2.61823L 5.22388 2.61823L 5.83138 0.949294ZM 13.1999 15.4182L 4.79999 15.4182L 4.79999 14.5455L 13.1999 14.5455L 13.1999 15.4182ZM 13.1999 13.9636L 4.79999 13.9636L 4.79999 13.6727L 13.1999 13.6727L 13.1999 13.9636ZM 15.0752 7.74723L 13.7438 5.94011C 13.6682 5.83713 13.5326 5.79378 13.4081 5.83218C 13.2842 5.87087 13.1999 5.98287 13.1999 6.10913L 13.1999 13.0909L 4.79999 13.0909L 4.79999 6.10913C 4.79999 5.98724 4.72169 5.87844 4.60409 5.83626C 4.48589 5.79378 4.35389 5.82724 4.27259 5.91975L 2.655 7.74927L 0.700217 6.3276L 3.5064 1.97387L 5.07329 1.28326L 4.51679 2.81227C 4.48469 2.90158 4.49849 3.0002 4.55489 3.07699C 4.61129 3.15438 4.70279 3.20005 4.79999 3.20005L 8.99996 3.20005L 13.1999 3.20005C 13.2971 3.20005 13.3886 3.15438 13.4447 3.07699C 13.5011 2.9999 13.5149 2.90129 13.4828 2.81227L 12.9263 1.28326L 14.4932 1.97387L 17.291 6.3148L 15.0752 7.74723Z"/><path id="44438887-890f-424c-88e1-324366c0b033" d="M 4.19997 1.59999C 4.19997 0.717961 3.45958 0 2.54998 0L 1.64999 0C 0.740395 0 0 0.717961 0 1.59999C 0 2.14108 0.279298 2.61934 0.704395 2.90908C 0.278998 3.19882 0 3.67708 0 4.21817C 0 5.1002 0.740395 5.81816 1.64999 5.81816L 2.54998 5.81816C 3.45958 5.81816 4.19997 5.1002 4.19997 4.21817C 4.19997 3.67708 3.92067 3.19882 3.49558 2.90908C 3.92067 2.61934 4.19997 2.14108 4.19997 1.59999ZM 3.59997 4.21817C 3.59997 4.77962 3.12898 5.23634 2.54998 5.23634L 1.64999 5.23634C 1.07099 5.23634 0.599996 4.77962 0.599996 4.21817C 0.599996 3.65671 1.07099 3.19999 1.64999 3.19999L 2.54998 3.19999C 3.12898 3.19999 3.59997 3.65671 3.59997 4.21817ZM 2.54998 2.61817L 1.64999 2.61817C 1.07099 2.61817 0.599996 2.16145 0.599996 1.59999C 0.599996 1.03854 1.07099 0.581816 1.64999 0.581816L 2.54998 0.581816C 3.12898 0.581816 3.59997 1.03854 3.59997 1.59999C 3.59997 2.16145 3.12898 2.61817 2.54998 2.61817Z"/></defs></svg>
						球衣
					</label>
					<item>
						<control-holder>
							<component-table-control message__from=":jersey">
								<component-modal-holder>
									<component-jersey-picker jersey__to=":temp-jersey" />
									<component-spacing height="25px" />
									<component-action>
										<a ref="jersey-button">
											<icon class="fa-check" />
										</a>
									</component-action>
								</component-modal-holder>
							</component-table-control>
						</control-holder>
					</item>
				</team-jersey>
				<component-spacing height="10px" />
				<component-separator />
				<component-spacing height="10px" />
				<match-fee>
					<label>
						<svg width="14" height="16" viewBox="0 0 8 16" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:figma="http://www.figma.com/figma/ns"><title>$</title><desc>Created using Figma</desc><g id="Canvas" transform="translate(1155 179)" figma:type="canvas"><g id="$" style="mix-blend-mode:normal;" figma:type="text"><use xlink:href="#55dbad54-3561-454e-9acb-ce7a9745b561" transform="translate(-1155.15 -179)" fill="#B7950B" style="mix-blend-mode:normal;"/></g></g><defs><path id="55dbad54-3561-454e-9acb-ce7a9745b561" d="M 6.36719 11.2773C 6.36719 10.8086 6.20052 10.4102 5.86719 10.082C 5.53906 9.7487 4.99219 9.45182 4.22656 9.19141C 3.17448 8.8737 2.38021 8.44922 1.84375 7.91797C 1.30729 7.38672 1.03906 6.67839 1.03906 5.79297C 1.03906 4.93359 1.28646 4.23307 1.78125 3.69141C 2.27604 3.14974 2.95573 2.82422 3.82031 2.71484L 3.82031 0.988281L 5.05469 0.988281L 5.05469 2.72266C 5.92448 2.84766 6.59896 3.22266 7.07812 3.84766C 7.5625 4.46745 7.80469 5.30078 7.80469 6.34766L 6.27344 6.34766C 6.27344 5.63932 6.10938 5.06641 5.78125 4.62891C 5.45833 4.19141 5.00521 3.97266 4.42188 3.97266C 3.80729 3.97266 3.34635 4.13411 3.03906 4.45703C 2.73177 4.77474 2.57812 5.21224 2.57812 5.76953C 2.57812 6.27474 2.73698 6.68359 3.05469 6.99609C 3.3724 7.30859 3.94271 7.60547 4.76562 7.88672C 5.82812 8.23047 6.61719 8.66016 7.13281 9.17578C 7.64844 9.6862 7.90625 10.3815 7.90625 11.2617C 7.90625 12.1576 7.63802 12.8711 7.10156 13.4023C 6.5651 13.9336 5.82812 14.2487 4.89062 14.3477L 4.89062 15.8398L 3.67188 15.8398L 3.67188 14.3477C 2.77604 14.2539 2.04167 13.9284 1.46875 13.3711C 0.895833 12.8086 0.619792 11.9857 0.640625 10.9023L 0.65625 10.8633L 2.14062 10.8633C 2.14062 11.6654 2.34115 12.2383 2.74219 12.582C 3.14844 12.9206 3.64583 13.0898 4.23438 13.0898C 4.90625 13.0898 5.42969 12.931 5.80469 12.6133C 6.17969 12.2904 6.36719 11.8451 6.36719 11.2773Z"/></defs></svg>
						費用
						<small>每隊</small>
					</label>
					<item>
						<control-holder>
							<component-input-control change__to=":fee" type="number" placeholder="免費或輸入" />
						</control-holder>
					</item>
				</match-fee>
				<component-spacing height="10px" />
				<component-separator />
			</info-holder>
		</info-area>
		<component-spacing height="35px" />
		<component-action>
			<a href="#match/open/tag-step" disabled={ ! my ('can-open') } ref="open-button">確定</a>
		</component-action>
	</open-match>
</component-main-content>
<component-page-tabs tab="match" />

<style>
	@extend [page-layout];
	
	open-match {
		
		@extend [padded-layout];
	
		> info-area {
			> info-holder {
				> info-header {
					@extend [unpadded-layouting];
					@extend [bar-like];
				}
				
				> match-date, > match-time, > match-location, > match-type-number-of-players, > match-type-pitch, > team-jersey, > match-fee {
					@extend [row-layout];
					
					> label {
						> svg {
						    transform: translateY(2px);
						}
					}
					
					> item {
						justify-content: flex-end;
						
						> control-holder {
							width: 100%;
						    justify-content: flex-end;
						
							> component-select-control {
								> a {
									font-size: 0.9em;
								}
							}
							> component-table-control {
								> fullscreen-holder {
									> component-modal-holder {
										> item {
											> component-action {
												padding: 0 30%;
												font-size: 1.5em;
												> a {
													border-color: hsla(0, 0%, 56%, 1);
													background: hsl(206, 81%, 70%);
												}
											}
										}
									}
								}
							}
							> component-input-control {
								width: 100%;
								> input {
									@extend .input;
									@extend .is-expanded;
								    text-align: right;
								}
							}
						}
					}
				}	
			}
		}
		> component-action {
			padding: 0 25px;
		}
	}
</style>

<script>
	self .impressions (args .cycle__from)
		.thru (tap, function () {
			if (! self .affiliated ('::user'))
				window .location .hash = '#login'
		}) 
	
	self
		.remembers (':date')
		.remembers (':timeslot')
		.remembers (':jersey')
		.remembers (':location')
		.remembers (':fee')
		.remembers (':number-of-players')
		.remembers (':pitch-type')
		
		.remembers (':temp-timeslot')
		.remembers (':temp-jersey')
		
	self
		.establish ('timeslot-button', ref)
		.impressions ('timeslot-button') .thru (tap, function (ref) {
			ref .addEventListener ('click', function () {
				self .mention (':timeslot', my (':temp-timeslot') .start + ' - ' + my (':temp-timeslot') .end)				
			})
		});
	self
		.establish ('jersey-button', ref)
		.impressions ('jersey-button') .thru (tap, function (ref) {
			ref .addEventListener ('click', function () {
				self .mention (':jersey', my (':temp-jersey'))				
			})
		});
		
	
	self
		.establish ('can-open', dependent (function () {
			if (! my (':date'))
				return false;
			if (! my (':timeslot'))
				return false;
			if (! my (':jersey'))
				return false;
			if (! my (':location'))
				return false;
			if (! my (':number-of-players'))
				return false;
			if (! my (':pitch-type'))
				return false;
				
			return true;
		}, mergeAll
			([self .impressions (':date'), self .impressions (':timeslot'), self .impressions (':jersey'), self .impressions (':location'), self .impressions (':number-of-players'), self .impressions (':pitch-type')])
		))
		.impressions ('can-open')
			.thru (trans, R .dropRepeats)
			.thru (tap, self .render)
		
	self .establish ('open-button', ref)
		.impressions ('open-button') .thru (tap, function (ref) {
			ref .addEventListener ('click', function (e) {
				e .preventDefault ();
				window .location .hash = ref .hash + '/#' + [ my (':date'), my (':timeslot'), my (':jersey'), my (':location'), my (':fee'), my (':number-of-players'), my (':pitch-type') ] .map (stringify) .join ('/')
			})
		})
</script>