<nav>
	<nav-bar>
		<nav-buttons>
			<a>
				<component-filter-button />
			</a>
		</nav-buttons>
		<nav-buttons>
		</nav-buttons>
	</nav-bar>
	<component-match-tabs tab="private" />
</nav>
<component-main-content>
    <match-private-catalog>
		<component-loading-item if={ my ('status') === 'loading' } />
		<component-item if={ my ('status') === 'no-items' } >未有球賽</component-item>
		<component-dynamic-load
		    items_to_load=13
		    interval_for_loading=50
		    item_height__from=":item-height"
		    items__from=":matches"
		>
			<component-match-catalog-item item__from=":item" />
		</component-dynamic-load>
    </match-private-catalog>
</component-main-content>
<component-page-tabs tab="match" />
<a href="#match/open">
	<component-add-fab />
</a>

<style>
	@extend [page-layout];
	
	component-add-fab {
        display: block;
        position: absolute;
        bottom: 60px;
        right: 10px;
	}
</style>

<script>
	self
		.remembers ('matches-items');
		
	self
		.establish (':matches', function (requests) { 
			return 	self .impressions ('matches-items')
						.thru (map, function (match_list) {
							var last_date;
							return 	match_list .map (function (match) {
										var curr = '' + fecha .format (new Date (match .start_at), 'YYYYMM');
										if (last_date === curr)
											return 	{ match: match };
										else {
											last_date = curr;
											return 	{ date: curr, match: match };
										}
									});
						})
		})
		.remembers (':item-height', function (item) {
			var height = 0;
			if (item .match)
				height += 96;
			if (item .date)
				height += 26;
			return height;
		})
		
		
	self
		.establish ('status', constant (mechanism (function () {
			if (my (':matches') .length)
				return 'loaded';
			else
				return 'no-items'
		}, [self .impressions (':matches')]) ('loading')))
		.impressions ('status')
			.thru (tap, self .render)


	self .impressions (args .cycle__from)
		.thru (tap, function (cycle) {
			if (self .affiliated ('::matches-to-find')) {
				inquire (self .affiliated ('::matches-to-find'))
					.then (function (matches) {
						self .mention ('matches-items', matches)
					})
			}
		})
</script>