<nav>
	<nav-bar>
		<nav-buttons>
			<a>
				<component-filter-button />
			</a>
		</nav-buttons>
		<nav-buttons>
		</nav-buttons>
	</nav-bar>
	<component-match-tabs tab="private" />
</nav>
<component-main-content>
    <match-private-catalog>
		<component-loading-item if={ status () === 'loading' } />
		<component-item if={ status () === 'no-items' } >未有球賽</component-item>
		<component-dynamic-load
		    items_to_load=13
		    interval_for_loading=50
		    item_height={ item_height }
		    items__from={ matches }
		>
			<component-match-catalog-item item__from={ _item .item__from } />
		</component-dynamic-load>
    </match-private-catalog>
</component-main-content>
<component-page-tabs tab="match" />
<a href="#match/open">
	<component-add-fab />
</a>

<style>
	@extend [page-layout];
	
	component-add-fab {
        display: block;
        position: absolute;
        bottom: 60px;
        right: 10px;
	}
</style>

<script>
	var matches_items = stream ();
		
	var matches =	matches_items
						.thru (map, function (match_list) {
							var last_date;
							return 	match_list .map (function (match) {
										var curr = '' + fecha .format (new Date (match .start_at), 'YYYYMM');
										if (last_date === curr)
											return 	{ match: match };
										else {
											last_date = curr;
											return 	{ date: curr, match: match };
										}
									});
						})
	var item_height = function (item) {
		var height = 0;
		if (item .match)
			height += 96;
		if (item .date)
			height += 26;
		return height;
	}
		
		
	var status = mechanism (function () {
		if (matches () .length)
			return 'loaded';
		else
			return 'no-items'
	}, [matches]) ('loading')

	status .thru (map, noop) .thru (tap, self .render)


	args .cycle__from
		.thru (tap, function (cycle) {
			if (api () .matches_to_find) {
				inquire (api () .matches_to_find)
					.then (function (matches) {
						matches_items (matches)
					})
			}
		})
</script>