<a>
	<match>
		<match-graphic>
			<image-holder size="96x96">
				<highlight-holder>
					<component-timeslot-highlight timeslot__from={ timeslot } />
				</highlight-holder>
			</image-holder>
		</match-graphic>
		<match-info>
			<info-holder>
				<match-location>
					<icon-holder><icon class="fa-map-marker" /></icon-holder>
					{ location () }
				</match-location>
				<match-type>{ num_of_players () }人{ field_type () }</match-type>
				
				<br>
				
				<match-opponent>
					V.S. { team_name () }
				</match-opponent>
			</info-holder>
		</match-info>
		<match-status>
			<svg width="21" height="20" viewBox="0 0 21 20" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:figma="http://www.figma.com/figma/ns"> <title>away team</title> <desc>Created using Figma</desc> <g id="Canvas" transform="translate(682 -51)" figma:type="canvas"> <g id="away team" style="mix-blend-mode:normal;" figma:type="frame"> <g id="Ellipse" style="mix-blend-mode:normal;" figma:type="ellipse"> <use xlink:href="#dfecba4d-b57d-44fc-b1f4-34d90f38ebd7" transform="translate(-681.998 51)" fill="#FFFFFF" style="mix-blend-mode:normal;"/> <mask id="84025861-4815-4040-8850-6ba3f848b57b"> <use xlink:href="#dfecba4d-b57d-44fc-b1f4-34d90f38ebd7" fill="white" transform="translate(-681.998 51)"/> </mask> <g mask="url(#84025861-4815-4040-8850-6ba3f848b57b)"> <use xlink:href="#a4bbb46b-d679-4590-8b4f-4c15bfb4926b" transform="translate(-681.998 51)" style="mix-blend-mode:normal;"/> </g> </g> <g id="&#229;&#174;&#162;" style="mix-blend-mode:normal;" figma:type="text"> <use xlink:href="#c05a7782-01d9-4652-af0e-0293724ff0b5" transform="translate(-676.998 56)" style="mix-blend-mode:normal;"/> </g> </g> </g> <defs> <path id="dfecba4d-b57d-44fc-b1f4-34d90f38ebd7" d="M 20 10C 20 15.5228 15.5228 20 10 20C 4.47715 20 0 15.5228 0 10C 0 4.47715 4.47715 0 10 0C 15.5228 0 20 4.47715 20 10Z"/> <path id="a4bbb46b-d679-4590-8b4f-4c15bfb4926b" d="M 19 10C 19 14.9706 14.9706 19 10 19L 10 21C 16.0751 21 21 16.0751 21 10L 19 10ZM 10 19C 5.02944 19 1 14.9706 1 10L -1 10C -1 16.0751 3.92487 21 10 21L 10 19ZM 1 10C 1 5.02944 5.02944 1 10 1L 10 -1C 3.92487 -1 -1 3.92487 -1 10L 1 10ZM 10 1C 14.9706 1 19 5.02944 19 10L 21 10C 21 3.92487 16.0751 -1 10 -1L 10 1Z"/> <path id="c05a7782-01d9-4652-af0e-0293724ff0b5" d="M 0.63 1.21C 0.52 1.21 0.47 1.26 0.47 1.37L 0.47 3.31L 1.32 3.31L 1.32 2.1C 1.32 2.05 1.35 2.02 1.4 2.02L 8.59 2.02C 8.66 2.02 8.7 2.05 8.7 2.12C 8.7 2.26 8.63 2.6 8.4 3.34L 9.2 3.61C 9.47 2.82 9.62 2.15 9.66 1.58L 8.92 1.21L 5.39 1.21L 5.39 0.51L 4.54 0.51L 4.54 1.21L 0.63 1.21ZM 0.58 6.56C 2.28 6.43 3.82 6.05 5.21 5.44C 6.55 5.95 7.57 6.26 8.27 6.37L 9.5 6.53L 9.6 5.65C 8.19 5.53 7.02 5.29 6.11 4.97C 6.93 4.43 7.56 3.85 8 3.24L 7.41 2.66L 3.83 2.66L 3.96 2.44L 3.07 2.36C 2.76 2.96 1.97 3.54 0.71 4.06L 1.18 4.73C 1.69 4.48 2.16 4.22 2.58 3.93C 3.05 4.27 3.63 4.63 4.28 4.99C 3.1 5.4 1.78 5.64 0.35 5.69L 0.58 6.56ZM 3.47 3.54L 6.63 3.54C 6.25 3.95 5.75 4.24 5.18 4.58L 4.29 4.09L 3.47 3.54ZM 7.39 9.32L 7.39 9.78L 8.24 9.78L 8.24 6.69C 8.24 6.58 8.18 6.52 8.06 6.52L 1.98 6.52C 1.88 6.52 1.83 6.57 1.84 6.66L 1.84 9.78L 2.69 9.78L 2.69 9.32L 7.39 9.32ZM 2.69 7.45C 2.68 7.38 2.71 7.33 2.81 7.33L 7.26 7.33C 7.35 7.33 7.39 7.37 7.39 7.45L 7.39 8.51L 2.69 8.51L 2.69 7.45Z"/> </defs> </svg>
		</match-status>
	</match>
</a>

<style>
    a {
    	background: rgba(253, 254, 254, 0.6);
    	padding: 0;
    	
    	@extend item-holder;
	    
	    match-info {
    		font-size: 1.1em;
    	    padding-right: 30px;
		    word-break: break-word;
		    white-space: pre-wrap;
		    
	    	info-holder {
		    	match-location {
			    	font-size: 1.2em;
	        		font-weight: bolder;
			    	
			    	> icon-holder {
		    		    width: 10px;
					    transform: translateY(1px);
					    margin-left: -10px;
				    }
			    }
		    	match-type {
	    		    word-break: keep-all;
		    	}
		    	match-opponent {
		    		padding-left: 12px;
		    	}
		    }
	    }
    }
</style>

<script>
	var location = mechanism (function () {
		return location_from_api (args .match__from () .location);
	}, [ args .match__from ])
	var num_of_players = mechanism (function () {
		return num_of_players_to_num (args .match__from () .match_type);
	}, [ args .match__from ])
	var team_name = mechanism (function () {
		return args .match__from () .home_team .long_name;
	}, [ args .match__from ])
	var field_type = mechanism (function () {
		return field_type_to_chi (args .match__from () .pitch .pitch_type);
	}, [ args .match__from ])
	
	var timeslot = mechanism (function () {
		return new Date (args .match__from () .start_at);
	}, [ args .match__from ])
	
	var id = mechanism (function () {
		return args .match__from () .id;
	}, [ args .match__from ])
		
	args .match__from .thru (map, noop) .thru (tap, self .render)
</script>