<nav>
	<nav-bar>
		<nav-buttons>
			<a href="#team/open">
				<component-back-button />
			</a>
		</nav-buttons>
		<nav-title>
			<component-page-title>球隊偏好</component-page-title>
		</nav-title>
	</nav-bar>
</nav>
<component-main-content>
	<team-preferences>
		<info-area info="field-type">
			<info-holder>
				<info-header>場地種類</info-header>
				<component-spacing height="10px" />
				<number-of-players>
					<label>人數</label>
					<item>
						<component-select-control multiple select__to=":number-of-players">
							<a>5v5</a>
							<a>7v7</a>
							<a>9v9</a>
							<a>11v11</a>
						</component-select-control>
					</item>
				</number-of-players>
				<component-spacing height="10px" />
				<material-of-field>
					<label>場地</label>
					<item>
						<component-select-control multiple select__to=":material-of-field">
							<a>硬地</a>
							<a>人造草</a>
							<a>仿真草</a>
							<a>真草</a>
						</component-select-control>
					</item>
				</material-of-field>
				<component-spacing height="5px" />
				<label>可選多於一種球場類別</label>
				<component-spacing height="10px" />
			</info-holder>
		</info-area>
		<info-area info="days-of-week">
			<info-holder>
				<info-header>活躍日子</info-header>
				<component-spacing height="10px" />
				<days-of-week>
					<label>日子</label>
					<item>
						<component-day-of-week-picker days__to=":days-of-week" />
					</item>
				</days-of-week>
				<label>可選多於一天</label>
				<component-spacing height="10px" />
			</info-holder>
		</info-area>
		<info-area info="shirt-color">
			<info-holder>
				<info-header>球衣顏色</info-header>
				<shirt-color>
					<item>
						<component-jersey-control jerseys__from=":jerseys" jerseys__to=":jerseys" />
					</item>
				</shirt-color>
			</info-holder>
		</info-area>
		<label>球隊偏好會幫助我們為您篩選適合的球賽</label>
		<component-spacing height="20px" />
		<component-action>
			<a href="#match/catalog" disabled={ ! my ('can-next') } ref="next-button">建立球隊</a>
		</component-action>
	</team-preferences>
</component-main-content>

<style>
	@extend [page-layout];
	
	team-preferences {
		@extend [padded-layout];
	
		> info-area {
			> info-holder {
				> info-header {
					@extend [bar-like];
					@extend [unpadded-layouting];
				}
					
				> number-of-players, > material-of-field, > days-of-week {
					@extend [row-layout];
					
					> item {
						> component-day-of-week-picker {
							width: 100%;
						}
					}
				}
				
				> label {
				    color: rgba(0, 0, 0, 0.298039);
				    font-size: 0.9em;
				    display: block;
				}
			}
		}
		
		
		> label {
			color: black;
			font-size: 1.4em;
		    font-size: 1em;
		    display: block;
		    text-align: center;
		}
	}
	
</style>


<script>
	self
		.remembers (':number-of-players')
		.remembers (':material-of-field')
		.remembers (':days-of-week')
		.remembers (':shirt-color', '顏色')
		.remembers (':jerseys', [])
		
		
	self
		.establish ('can-next', constant 
			(mechanism (function () {
				if (! my (':number-of-players') || ! my (':number-of-players') .length)
					return false;
				if (! my (':material-of-field') || ! my (':material-of-field') .length)
					return false;
				if (! my (':days-of-week') || ! my (':days-of-week') .length)
					return false;
				if (! my (':shirt-color'))
					return false;
				if (! my (':jerseys') || ! my (':jerseys') .length)
					return false;
					
				return true;
			}, [
				mergeAll
					([
						self .impressions (':number-of-players'), 
						self .impressions (':material-of-field'), 
						self .impressions (':days-of-week'), 
						self .impressions (':shirt-color'), 
						self .impressions (':jerseys')
					])
			]))
		)
		.impressions ('can-next')
			.thru (dropRepeats)
			.thru (tap, self .render)
		
	self
		.establish ('next-button', ref)
		.impressions ('next-button') .thru (tap, function (ref) {
			ref .addEventListener ('click', function (e) {
				e .preventDefault ();
				inquire (self .affiliated ('::team-open'), {
			        long_name: parse (args [0]),
			        average_age: parse (args [1]),
			        has_played_league: false,
			        home_jersey_color: 'XXX',
			        preferred_day_of_week_list:	my (':days-of-week') .map (to_uppercase),
			        preferred_match_type_list: my (':number-of-players'),
			        preferred_pitch_type_list: my (':material-of-field'),
			        preferred_location_list: [
						{ country: 'HKG', district_group: '新界西' },
						{ country: 'HKG', district_group: '香港島', district: '灣仔區' },
						{ country: 'HKG', district_group: '香港島', district: '中西區' }
					]})
					.then (function () {
						window .location .hash = ref .hash
					})
			})
		})
</script>