<nav>
	<nav-bar>
		<nav-buttons>
			<a href="#team/open">
				<component-back-button />
			</a>
		</nav-buttons>
		<nav-title>
			<component-page-title>球隊偏好</component-page-title>
		</nav-title>
	</nav-bar>
</nav>
<component-main-content>
	<team-preferences>
		<info-area info="field-type">
			<info-holder>
				<info-header>場地種類</info-header>
				<component-spacing height="10px" />
				<number-of-players>
					<label>人數</label>
					<item>
						<component-select-control multiple select__to={ number_of_players }>
							<a>5v5</a>
							<a>7v7</a>
							<a>9v9</a>
							<a>11v11</a>
						</component-select-control>
					</item>
				</number-of-players>
				<component-spacing height="10px" />
				<material-of-field>
					<label>場地</label>
					<item>
						<component-select-control multiple select__to={ material_of_field }>
							<a>硬地</a>
							<a>人造草</a>
							<a>仿真草</a>
							<a>真草</a>
						</component-select-control>
					</item>
				</material-of-field>
				<component-spacing height="5px" />
				<label>可選多於一種球場類別</label>
				<component-spacing height="10px" />
			</info-holder>
		</info-area>
		<info-area info="days-of-week">
			<info-holder>
				<info-header>活躍日子</info-header>
				<component-spacing height="10px" />
				<days-of-week>
					<label>日子</label>
					<item>
						<component-day-of-week-picker days__to={ days_of_week } />
					</item>
				</days-of-week>
				<label>可選多於一天</label>
				<component-spacing height="10px" />
			</info-holder>
		</info-area>
		<info-area info="shirt-color">
			<info-holder>
				<info-header>球衣顏色</info-header>
				<shirt-color>
					<item>
						<component-jersey-control jerseys__from={ jerseys } jerseys__to={ jerseys } />
					</item>
				</shirt-color>
			</info-holder>
		</info-area>
		<label>球隊偏好會幫助我們為您篩選適合的球賽</label>
		<component-spacing height="20px" />
		<component-action>
			<a href="#match/catalog" disabled={ ! can_next () } ref="next-button">建立球隊</a>
		</component-action>
	</team-preferences>
</component-main-content>

<style>
	@extend [page-layout];
	
	team-preferences {
		@extend [padded-layout];
	
		> info-area {
			> info-holder {
				> info-header {
					@extend [bar-like];
					@extend [unpadded-layouting];
				}
					
				> number-of-players, > material-of-field, > days-of-week {
					@extend [row-layout];
					
					> item {
						> component-day-of-week-picker {
							width: 100%;
						}
					}
				}
				
				> label {
				    color: rgba(0, 0, 0, 0.298039);
				    font-size: 0.9em;
				    display: block;
				}
			}
		}
		
		
		> label {
			color: black;
			font-size: 1.4em;
		    font-size: 1em;
		    display: block;
		    text-align: center;
		}
	}
	
</style>


<script>
	var number_of_players = stream ()
	var material_of_field = stream ()
	var days_of_week = stream ()
	var shirt_color = stream ('顏色')
	var jerseys = stream ([])
		
		
	var can_next = mechanism (function () {
		if (! number_of_players () || ! number_of_players () .length)
			return false;
		if (! material_of_field () || ! material_of_field () .length)
			return false;
		if (! days_of_week () || ! days_of_week () .length)
			return false;
		if (! shirt_color ())
			return false;
		if (! jerseys () || ! jerseys () .length)
			return false;
			
		return true;
	}, [
		mergeAll ([
			number_of_players, 
			material_of_field, 
			days_of_week, 
			shirt_color, 
			jerseys
		])
	]);
	
	can_next
		.thru (dropRepeats)
		.thru (map, noop) .thru (tap, self .render)
		
	ref ('next-button') .thru (tap, function (ref) {
		ref .addEventListener ('click', function (e) {
			e .preventDefault ();
			inquire (api () .team_open, {
		        long_name: parse (args [0]),
		        average_age: parse (args [1]),
		        has_played_league: false,
		        home_jersey_color: 'XXX',
		        preferred_day_of_week_list:	days_of_week () .map (to_uppercase),
		        preferred_match_type_list: number_of_players (),
		        preferred_pitch_type_list: material_of_field (),
		        preferred_location_list: [
					{ country: 'HKG', district_group: '新界西' },
					{ country: 'HKG', district_group: '香港島', district: '灣仔區' },
					{ country: 'HKG', district_group: '香港島', district: '中西區' }
				]})
				.then (function () {
					window .location .hash = ref .hash
				})
		})
	})
</script>