<nav>
	<nav-bar>
		<nav-title>
			<component-page-title>球隊日程</component-page-title>
		</nav-title>
	</nav-bar>
	<component-schedule-tabs tab="upcoming" />
</nav>
<component-main-content>
	<check-upcoming-matches>
		<component-list-bar>約戰成功</component-list-bar>
		<component-loading-item if={ confirmed_matches_status () === 'loading' } />
		<component-item if={ confirmed_matches_status () === 'no-items' } >你未有確認賽事</component-item>
		<component-dynamic-load
		    items_to_load=8
		    interval_for_loading=50
		    item_height={ item_height }
		    items__from={ confirmed_matches }
		>
			<component-schedule-confirmed-match-wrap item__from={ _item .item__from } />
		</component-dynamic-load>
		<component-list-bar>約戰中</component-list-bar>
		<component-loading-item if={ pending_matches_status () === 'loading' } />
		<component-item if={ pending_matches_status () === 'no-items' } >你未有賽事</component-item>
		<component-dynamic-load
		    items_to_load=13
		    interval_for_loading=35
		    item_height={ item_height }
		    items__from={ pending_matches }
		>
			<component-schedule-pending-match-item item__from={ _item .item__from } />
		</component-dynamic-load>
	</check-upcoming-matches>
</component-main-content>
<component-page-tabs tab="schedule" />

<style>
	@extend [page-layout];
</style>

<script>
	var upcoming_info =	args .cycle__from
							.thru (filter, function () {
								if (api () .teams)
									return true;
								else
									window .location .hash = '#login'
							})
							.thru (function (load) {
								return 	from (function (list) {
									inquire (api () .teams)
											.then (function (teams) {
												var team_id = teams [0] .id;
												
												return 	Promise .all ([
															inquire (api () .matches (team_id)),
															inquire (api () .matches_applied (team_id))
														]);
											})
											.then (function (mine_and_applied) {
												return mine_and_applied [0] .concat (mine_and_applied [1]);
											})
											.then (function (upcomings) {
												list (upcomings)
											})
								}) 
							})
							.thru (map, function (match_list) {
								var now = new Date ();
								
								return 	match_list
											.filter (function (match) {
												return now <= new Date (match .start_at)
											}) .sort (function (a, b) {
												return new Date (a .start_at) > new Date (b .start_at)
											})
							});
							
	upcoming_info .thru (map, noop) .thru (tap, self .render)
		
	var confirmed_matches = mechanism (function () {
		return 	upcoming_info ()
					.filter (function (match) {
						return match .status === 'STARTED'
					});
	}, [upcoming_info])
	var pending_matches = mechanism (function () {
		return 	upcoming_info ()
					.filter (function (match) {
						return match .status === 'PENDING_APPROVAL' || match .status === 'VERIFIED'
					});
	}, [upcoming_info])
	var item_height = function (item) {
		return 96;
	}
	
	var confirmed_matches_status =	confirmed_matches
										.thru (map, function (items) {
											if (items .length)
												return 'loaded';
											else
												return 'no-items'
										}) ('loading')
	var pending_matches_status = pending_matches
									.thru (map, function (items) {
										if (items .length)
											return 'loaded';
										else
											return 'no-items'
									}) ('loading')
</script>