<nav>
	<nav-bar>
		<nav-buttons>
			<a href="#match/open">
				<component-back-button />
			</a>
		</nav-buttons>
		<nav-title>
			<component-page-title>建立球賽</component-page-title>
		</nav-title>
	</nav-bar>
</nav>
<component-main-content>
	<open-match>
		<tags>
			<label>標籤提供更多球賽資料</label>
			<component-tag-control>請輸入tags</component-tag-control>
		</tags>
		<reserve-priorities>
			<is-private>
				
			</is-private>
			<days-to-reserve>
				
			</days-to-reserve>
		</reserve-priorities>
		<component-action>
			<a href="#schedule/upcoming" ref="open-button" disabled={ opening () }>建立</a>
		</component-action>
	</open-match>
</component-main-content>
<component-page-tabs tab="match" />

<style>
	@extend [page-layout];
	
	open-match {
		@extend [padded-layout];
		
		> reserve-priorities {
			
			> is-private, > days-to-reserve {
				@extend [row-layout];
			}
		}
		
	}
</style>

<script>
	self .temp = true;

	var opening = stream ();
	opening .thru (map, noop) .thru (tap, self .render)
		
	ref ('open-button') .thru (tap, function (ref) {
		ref .addEventListener ('click', function (e) {
			e .preventDefault ();
			
			opening (true);
			
			inquire_last (api () .teams) .then (function (teams) {
				return teams [0] .id
			}) .then (function (team_id) {
				inquire (api () .match_open (team_id), {
			        start_at: 	fecha .format
			        				(fecha .parse (parse (args [0]) + ' ' + parse (args [1]) .split (' - ') [0], 'YYYY年M月D日 h:mm A'),
			        				'YYYY-MM-DDTHH:mm:ss+08:00'),//'2017-06-01T12:00:00+08:00',
			        end_at: 	fecha .format
			        				(fecha .parse (parse (args [0]) + ' ' + parse (args [1]) .split (' - ') [1], 'YYYY年M月D日 h:mm A'),
			        				'YYYY-MM-DDTHH:mm:ss+08:00'),
			        reserved_day_for_trusted_team: 0,
					home_team_average_age: 30,
			        home_team_jersey_color: parse (args [3]),
			        fee_per_team: + parse (args [4]) || +0,
			        match_type: parse (args [5]),
			        pitch_id: 1,
			        tag_list: ['lol']
				})
					.then (function (data) {
						opening (false);
						if (data)
							window .location .hash = ref .hash;
					})
			})
		})
	}) 

	var date = function () {
		//2017年1月15日 星期日
		var date = parse (args [0]);
		var date_time = date_from_chi (date)
		return date + ' ' + day_of_week_to_chi (date_time);
	}
	var times = function () {
		//3:00 pm - 4:30 pm
		var date = parse (args [0]);
		var time = parse (args [1]);
		var duration = parse (args [2]);
		
		var start_date_time = fecha .parse (date + ' ' + time, 'YYYY年M月D日 h:mm A')
		var end_date_time = new Date (start_date_time .getTime () + duration * 60000);
		
		return times (start_date_time, end_date_time)
	}
	var location = function () {
		//北區運動場
		return parse (args [4])
	}
	var match_type = function () {
		//11v11 - 真草
		return parse (args [6]) + ' - ' + parse (args [7]);
	}
	var fee = function () {
		//HKD $450
		var fee = parse (args [5]);
		return fee_to_chi (fee)
	}
	
</script>