<a>
	<team>
		<team-graphic>
			<image-holder size="64x64">
				<team-picture>
					<img src="http://placehold.it/128x128">
				</team-picture>
			</image-holder>
		</team-graphic>
		<team-info>
			<info-holder>
				<team-name>碧含足球隊</team-name>
				
				<br>
				
				<team-divison>Division 1</team-divison><component-spacing-inline width="20px" /><team-rating>4.8/5</team-rating>
			</info-holder>
		</team-info>
		<team-action
			><svg width="8" height="13" viewBox="0 0 8 13" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:figma="http://www.figma.com/figma/ns"><title>enter</title><desc>Created using Figma</desc><g id="Canvas" transform="translate(722 -173)" figma:type="canvas"><g id="enter" style="mix-blend-mode:normal;" figma:type="frame"><g id="Vector" style="mix-blend-mode:normal;" figma:type="vector"><use xlink:href="#c1d1a5d7-a395-472e-aae3-af5c1e4f26c7" transform="translate(-721.611 173.37)" fill="#7F8C8D" style="mix-blend-mode:normal;"/></g><g id="Vector" style="mix-blend-mode:normal;" figma:type="vector"><use xlink:href="#902c7c0c-156c-499c-aa70-5ef7d2058777" transform="translate(-722 173)" fill="#7F8C8D" style="mix-blend-mode:normal;"/></g></g></g><defs><path id="c1d1a5d7-a395-472e-aae3-af5c1e4f26c7" d="M 0.778233 12.2596L -6.08861e-08 11.5193L 5.66475 6.12981L -6.08861e-08 0.740374L 0.778233 8.98823e-09L 7.22149 6.12981L 0.778233 12.2596Z"/><path id="902c7c0c-156c-499c-aa70-5ef7d2058777" d="M 1.16735 13L 6.08861e-08 11.8894L 5.66475 6.5L 6.08861e-08 1.11056L 1.16735 0L 8 6.5L 1.16735 13ZM 0.778233 11.8894L 1.16735 12.2596L 7.22149 6.5L 1.16735 0.740374L 0.778233 1.11056L 6.44299 6.5L 0.778233 11.8894Z"/></defs></svg
		></team-action>
	</team>
</a>

<style>
	display: block;
    > a {
    	@extend item-holder;
    	
    	background: rgba(253, 254, 254, 0.6);
    	
    	team-name {
    		font-size: 1.3em;
	    	font-weight: bold;
	    }
    }
</style>